<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<!-- Cette page est valide W3C -->
	<!-- Debut du head -->
	<head>
		<!-- Title de la page -->
		<title>{title}</title>
			<link rel="shortcut icon" href="{Link}favicon.ico"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta content="text/html; charset={META_ENCODAGE}" http-equiv="Content-Type" />
			<meta content="{META_LANGAGE}" http-equiv="Content-language"/>
			<meta content="{META_AUTHOR}" name="author"/>
			<meta content="{META_COPYRIGHT}" name="copyright"/>
			<meta content="{META_DESCRIPTION}" name="description"/>
			<meta content="{META_KEYWORDS}" name="keywords"/>
			<meta content="never" name="Expires"/>
			<meta content="Tous public" name="rating"/>
			<meta content="{META_SUBJECT}" name="subject"/>
			{include_style_js}
	</head>
	<body>