<link rel="stylesheet" type="text/css" href="{Link}{Style}.css"><!-- simplex -->
		<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
		<script src="{Link}jquery/jquery-2.1.4.js"></script>
		<!--<script src="{Link}Jquery/jquery-ui.js"></script>-->
		<script src="{Link}jquery/bootstrap.min.js"></script>
		<script src="{Link}jquery/assets_js_custom.js"></script>
		<script src="{Link}jquery/canvas_loader.js"></script>
		<script src="{Link}jquery/jquery.touchwipe.1.1.1.js"></script>
		<!--{time}-->
		